.fa-plus-square-o:before, .wy-menu-vertical li span.toctree-expand:before {
    mix-blend-mode: exclusion;
    color: #b1b1b1;
}

.fa-minus-square-o:before, .wy-menu-vertical li.on a span.toctree-expand:before, .wy-menu-vertical li.current>a span.toctree-expand:before {
    mix-blend-mode: exclusion;
    color: #b1b1b1;
}

.wy-table-responsive table td {
    white-space: normal !important;
}
